<div class="sidebar">
  <nav>
    <div class="nav-links">
      <a href="{{ site.prefix }}/">Home</a>
      <a href="{{ site.prefix }}/releases/">Releases</a>
      <a href="{{ site.prefix }}/demos/">Demos</a>
      <a href="{{ site.prefix }}/about/">About</a>
      <a href="{{ site.prefix }}/mailing-list/">Mailing List</a>
    </div>
  </nav>
  <div class="page-logo-link">
    <img src="{{ site.prefix }}/assets/littletone-logo-no-padding.png" alt="Little Tone Records" class="page-logo" width="1775" height="1504" fetchpriority="high">
  </div>
</div>
